<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - EcoTrade</title>
    <link rel="stylesheet" href="../../Public/css/stytle.css" />
  </head>
  <body>
    <div class="container">
      <div class="card login-card">
        <h2 class="text-center">Entrar no EcoTrade</h2>
        <p class="subtitle text-center">Faça login para acessar sua conta</p>

        <form id="loginForm" action="TesteLogin.php" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="seu@email.com"
              required
            />
            <span class="error-message"></span>
          </div>

          <div class="form-group">
            <label for="senha">Senha</label>
            <input
              type="password"
              id="senha"
              name="senha"
              placeholder="Digite sua senha"
              required
            />
            <span class="error-message"></span>
          </div>
          <input type="submit" value="Entrar" name="submit" class="btn-primary"/>
        </form>

        <p class="footer-text">
          Não tem uma conta?
          <a href="CadUsua.php" class="link">Cadastre-se</a>
        </p>
      </div>
    </div>
  </body>
</html>